In [1]:
class Employee:
    """A sample Employee class"""
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        
    @property
    def email(self):
        return '{}.{}@email.com'.format(self.first, self.last)
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def __repr___(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)

In [17]:
emp_1 = Employee('John', 'Doe', 80000)

In [2]:
import sqlite3

In [26]:
conn = sqlite3.connect(':memory:')
#conn = sqlite3.connect('employee.db')
c = conn.cursor()
c.execute("""CREATE TABLE employees (
            first text,
            last text,
            pay integer
            )""")

emp_1 = Employee('John', 'Doe', 80000)
emp_2 = Employee('Jane', 'Doe', 90000)

print(emp_1.first)
print(emp_1.last)
print(emp_1.pay)

# c.execute("INSERT INTO employees Values ('{}', '{}', {})".format(emp_1.first, emp_1.last, emp_1.pay)) # bad practice
# conn.commit()

#c.execute("DELETE FROM employees WHERE last = 'Schafer' or last = 'Doe'")

c.execute("INSERT INTO employees Values (?, ?, ?)", (emp_1.first, emp_1.last, emp_1.pay)) # correct practice
conn.commit()

c.execute("INSERT INTO employees Values (:first, :last, :pay)", {'first':emp_2.first, 'last':emp_2.last, 'pay':emp_2.pay}) # correct practice
conn.commit()

# c.execute("INSERT INTO employees Values ('Corey', 'Schafer', 50000)")
# conn.commit()

#c.execute("INSERT INTO employees Values ('Mary', 'Schafer', 70000)")
#conn.commit()

#c.execute("DELETE FROM employees WHERE last = 'Schafer' or last = 'Doe'")

#c.execute("SELECT * FROM employees WHERE last = 'Schafer' or last = 'Doe'" )
c.execute("SELECT * FROM employees WHERE last = ? or last = ?", ('Schafer','Doe'))
#c.fetchmany(5)

print(c.fetchall())
#print(c.fetchall())


conn.commit()
conn.close()

John
Doe
80000
[('John', 'Doe', 80000), ('Jane', 'Doe', 90000)]

In [40]:
conn.close()